* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
*:focus {
  outline: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
#scene-container {
  height: 100%;
  width: 100%;
  background: #282828;
}
#log-bar {
  position: absolute;
  bottom: 0;
  background: #000000;
  color: #ffffff;
  width: 100%;
}
